@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Cambiamos bg-background por white y text-foreground por navy */
    @apply bg-white text-[#011D4C];
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  .gradient-irp {
    background: linear-gradient(135deg, #011D4C, #074AAE);
  }
}